################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/App_Data/*

/[Aa]pp_[Dd]ata/

robots.txt

*.config

**/App_Data/Logs/

**/App_Data/[Pp]review/

**/App_Data/TEMP/

**/App_Data/NuGetBackup/



# Ignore Umbraco content cache file

**/App_Data/umbraco.config



# Don't ignore Umbraco packages (VisualStudio.gitignore mistakes this for a NuGet packages folder)

# Make sure to include details from VisualStudio.gitignore BEFORE this

!**/App_Data/[Pp]ackages/*

!**/[Uu]mbraco/[Dd]eveloper/[Pp]ackages/*



# ImageProcessor DiskCache

**/App_Data/cache/



# Ignore the Models Builder models out of date flag

**/App_Data/Models/ood.flag