<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="473e5359-c80f-4c33-9570-ad0abe8c5277" Alias="biztechnosys" Level="1">
  <Info>
    <Name>Biztechnosys</Name>
    <Icon>icon-umb-translation color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="2181832b-00e5-4755-a036-d0e6d620b9f1">sEOComponents</Composition>
    </Compositions>
    <DefaultTemplate>Biztechnosys</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a6c09bd7-5223-4261-b4cf-7f8435127fc1">Biztechnosys</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dbccda43-5667-4203-9d17-c4318b148a34">landingPage</ContentType>
    <ContentType Key="f7782421-bb08-4e0a-886e-b645789bc9cf">bizprivacyPolicy</ContentType>
    <ContentType Key="bec56e31-9e7c-42e9-9acf-42ee008ceba4">termsConditions</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>567b35b0-514f-48ed-a76c-6990872c4045</Key>
      <Name>About Text</Name>
      <Alias>aboutText</Alias>
      <Definition>413b887d-4623-4cb7-a76f-14730d260c9f</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0da4750a-ebb1-48ea-8aa3-9eed2f596475</Key>
      <Name>Add Content</Name>
      <Alias>addContent</Alias>
      <Definition>2ddfab71-1290-4e0c-9bd4-04ae95f641fb</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add, As many details page you want to show on Home Page of our site.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Our Services</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>42a6c78c-bcae-4f15-a1c0-0326dcba09be</Key>
      <Name>Background Video</Name>
      <Alias>backgroundVideo</Alias>
      <Definition>9c52ae44-d692-46a8-8df5-675aefdeda23</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>955a48f0-543a-492b-a76d-ebafd94b2e4b</Key>
      <Name>Banner Icon</Name>
      <Alias>bannerIcon</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5f04a357-8a77-4120-99ed-eb3ddb9f4e57</Key>
      <Name>Consultation Services</Name>
      <Alias>consultationServices</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Our Services</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>694d5e58-af13-49c1-916e-c85a4f8c0e23</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Company Email Address.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3e604ff4-1959-40f7-92df-d53318be6697</Key>
      <Name>External Links</Name>
      <Alias>externalLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to social networking sites.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0fdae71f-b01f-4a0f-aec4-5efc4203980a</Key>
      <Name>Mobile No</Name>
      <Alias>mobileNo</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Company Mobile Number.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>59aa58c6-8f50-4675-9513-96435f67a276</Key>
      <Name>Nav Images</Name>
      <Alias>navImages</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select four Images for Navigation.
Name of the image should match the child
contents of our Home. (Work,Services,About,Product )]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7a7adce9-e82a-4ea7-b344-324e9a574c79</Key>
      <Name>Quality</Name>
      <Alias>quality</Alias>
      <Definition>0b7e95e5-0d27-4126-9f66-82bd9aac5193</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Our Qualities</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3c122b0d-e601-4741-b2e2-ae9b2b81ef6c</Key>
      <Name>Quick Links</Name>
      <Alias>quickLinks</Alias>
      <Definition>a2213ef2-7472-4743-9db2-3194b7a5ab70</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Quickly jump to our landing pages.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>70c435ac-5f82-4df6-8b06-d94d52f147cb</Key>
      <Name>Site Logo</Name>
      <Alias>siteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b01fcaa3-07e1-4e5a-bf5e-040431c8b272</Key>
      <Name>Slider Component</Name>
      <Alias>sliderComponent</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select Images to Run Slider.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>918531c1-f4a5-4c6c-9aaa-0117865a53de</Key>
      <Name>Slider Sub Title</Name>
      <Alias>sliderSubTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e8ce85bb-b370-466e-9b94-431b02f71d82</Key>
      <Name>SliderTitle</Name>
      <Alias>sliderTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8e08a911-ada8-4869-bac9-3672bfc650a1</Key>
      <Name>Social Icons</Name>
      <Alias>socialIcons</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header Icons name should have header at its last.Where as Footer Icons will have only name of the social Icon.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8df53466-f287-4d63-9c11-b7b4c1e50256</Key>
      <Name>Three Images</Name>
      <Alias>threeImages</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c2f78bb6-e26b-4425-9f9b-c8c88f92dde8</Key>
      <Name>Welcome Msg</Name>
      <Alias>welcomeMsg</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Site Welcome Message]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Our Services</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Caption>Our Qualities</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer Content</Caption>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>