<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ea865e9-8319-455e-9016-e9bfe00d9ab6" Alias="master" Level="1">
  <Info>
    <Name>Master</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Site Master Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0345e1ab-f3db-417d-adc6-7494044e96be">Master</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>edada73f-ce44-44f3-ab98-bae2046c20a5</Key>
      <Name>Colors</Name>
      <Alias>colors</Alias>
      <Definition>e1671ded-b094-482c-8663-e9f898f9c487</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>