<?xml version="1.0" encoding="utf-8"?>
<Macro Key="69e7de16-03d0-489d-9bf8-bef9856904c7" Alias="StickyBar" Level="0">
  <Name>StickyBar</Name>
  <MacroSource>~/Views/MacroPartials/StickyBar.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>