<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": true,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"21e41c\",\"label\":\"Green\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"0767ff\",\"label\":\"Blue\"}"
    }
  ]
}]]></Config>
</DataType>